
﻿
@model TPLOCAL1.Models.PersonalInfo
<!--@Html.ValidationSummary(false, "") -->

	<! DOCTYPE html>
<html>


	<head>
		<title>Formulaire</title>
        <link rel="stylesheet" href="~/resources/Form.css" />
	</head>

<body>
    @Html.Partial("_Header")
    
        <div>

        @Html.Partial("_Navigation")


            <!-- Début du formulaire -->
            <form asp-action="SubmitForm" method="post">
                <table border="1">
                    <!-- Ligne pour le titre de la table -->
                    <tr>
                        <th colspan="2" style="text-align: center;">Informations personnelles</th>
                    </tr>

                    <!-- Ligne pour le champ Nom -->
                    <tr>
                        <td>Nom</td>
                        <td><input type="text" asp-for="Name"  />
                            <span asp-validation-for="Name" style="color:red"></span>
                        </td>
                    </tr>

                    <!-- Ligne pour le champ Prénom -->
                    <tr>
                        <td>Prénom</td>
                        <td><input type="text" asp-for="Forename" />
                            <span asp-validation-for="Forename" style="color:red"></span>
                        </td>
                    </tr>

                    <!-- Ligne pour le champ Genre -->
                    <tr>
                        <td>Sexe</td>
                        <td>
                            <select asp-for="Gender" >
                                <option value="Select a gender">Sélectionnez un sexe</option>
                                <option value="Man">Homme</option>
                                <option value="Woman">Femme</option>
                                <option value="Other">Autre</option>
                            </select>
                            <span asp-validation-for="Gender" style="color:red"></span>
                        </td>
                    </tr>

                    <!-- Ligne pour l'adresse -->
                    <tr>
                        <td>Adresse</td>
                        <td><input type="text" asp-for="Address"  />
                            <span asp-validation-for="Address" style="color:red"></span>
                        </td>
                    </tr>

                    <!-- Ligne pour le code postal -->
                    <tr>
                        <td>Code postal</td>
                        <td><input type="text" asp-for="ZipCode"  />
                            <span asp-validation-for="ZipCode" style="color:red"></span>
                        </td>
                    </tr>

                    <!-- Ligne pour la ville -->
                    <tr>
                        <td>Ville</td>
                        <td><input type="text" asp-for="Town" />
                            <span asp-validation-for="Town" style="color:red"></span>
                        </td>
                    </tr>

                    <!-- Ligne pour l'email -->
                    <tr>
                        <td>Adresse mail</td>
                        <td><input type="text" asp-for="Email" />
                            <span asp-validation-for="Email" style="color:red"></span>
                        </td>
                    </tr>
                </table>
                <table border="1">
                    <!-- Ligne pour le titre de la table -->
                    <tr>
                        <th colspan="2" style="text-align: center;">Informations formation suivie</th>
                    </tr>

                <!-- Ligne pour la date de début -->
                    <tr>
                        <td>Date début formation</td>
                        <td><input type="date" asp-for="StartDate" />
                            <span asp-validation-for="StartDate" style="color:red"></span>
                        </td>

                    </tr>

                <!-- Ligne pour le type de formation -->
                    <tr>
                        <td>Formation suivie</td>
                        <td>
                            <select asp-for="TrainingType" >
                                <option value="Select a course">Sélectionnez une formation</option>
                                <option value="Cobol Training">Formation Cobol</option>
                                <option value="Object training">Formation Objet</option>
                                <option value="Dual Skills Training">Formation Bi-compétences</option>
                            </select>
                            <span asp-validation-for="TrainingType" style="color:red"></span>
                        </td>
                    </tr>
                </table>
                <table border="1">
                    <!-- Ligne pour le titre de la table -->
                    <tr>
                        <th colspan="2" style="text-align: center;">Avis sur la formation</th>
                    </tr>


                    <tr>
                        <td>Avis sur la formation </td>
                        <td>
                            <textarea asp-for="Review" rows="4" cols="50" placeholder="Entrez votre avis ici..."></textarea>
                            <span asp-validation-for="Review" style="color:red"></span>
                        </td>
                    </tr>

                    <!-- Ligne pour l'objectif de la formation -->
                    <tr>
                        <td>Objectif de la formation</td>
                        <td>
                            <textarea asp-for="TrainingPurpose" rows="4" cols="50" placeholder="Indiquez l'objectif ici..."></textarea>
                            <span asp-validation-for="TrainingPurpose" style="color:red"></span>
                        </td>
                    </tr>
                </table>

                <!-- Bouton pour soumettre le formulaire -->
                <button type="submit">Envoyer</button>
            </form>
	    </div>
	</body>

	</html>