<! DOCTYPE html>
<html>


	<head>
		<title>HN - TP LOCAL</title>
		<link rel="stylesheet" href="~/resources/Index.css" />
	</head>


<body>
	@Html.Partial("_Header")
	@Html.Partial("_Navigation")

	<section>
		<p>
			<a href="/Home/Index/Form">Remplir le formulaire </a>
		</p>
	</section>
</body>


</html>